li {
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #766a92;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.fitches {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.listItem {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.card {
  width: 380px;
  height: 460px;
  margin: 0 auto;
  background: linear-gradient(
    114.99deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );
  box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.logo {
  position: relative;
  width: 76px;
  height: 22px;
  left: 20px;
  top: 20px;
}

.image {
  height: 168px;
  width: 308px;
  margin-left: 36px;
}

.Rectangle {
  padding: 0;
  width: 380px;
  height: 8px;
  left: 0px;
  top: 214px;
  background: #ebd8ff;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.06);
}
.backAvatar {
  background-color: #5736a3;
  border-radius: 50%;
  box-shadow: 0px -1.71846px 3.43693px #3e0778, 0px 3.43693px 2.5777px #fbf8ff;
  height: 62px;
  width: 62px;
}
.circle {
  display: flex;
  stroke-width: 0px;
  stroke: currentColor;
  background-color: azure;
  box-shadow: 0px 4.39163px 4.39163px rgba(0, 0, 0, 0.06),
    inset 0px -2.19582px 4.39163px #ae7be3,
    inset 0px 4.39163px 3.29372px #fbf8ff;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -36px;
  left: calc(50% - 40px);
}

.avatar {
  height: 62px;
  width: 62px;
  border-radius: 50%;
}

.follow {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.text {
  margin: 0;
}

.title {
  font-size: 60px;
  margin: auto;
  display: flex;
  justify-items: center;
  height: 90vh;
}

.Btn {
  width: 150px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 40px;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
